@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//START PAGE

.start-page {
  //PAGE WRAPPER
  &__main {
    @include auth-page-layout-default;
    @include page-padding-default;
    height: 100vh;
  }

  //CONTAINER
  &__container {
    section {
      @include auth-page-layout-default;
    }
    @include tablet {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }
    @include desktop {
      align-self: flex-end;
      padding-right: 6.25rem;
    }
  }
  //ROUTES
  &__enter {
    @include start-page-default-link;
    color: $SECONDARY_TEXT_COLOUR;
  }
  &__join {
    @include start-page-default-link;
    color: $SECONDARY_TEXT_COLOUR;
  }
}
