@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;


//START PAGE

.start-page{

    //PAGE WRAPPER
    &__main{
    display: flex;
    flex-direction: column;
    align-items: center;
     @include page-padding-default;
    }
   
    //CONTAINER
    &__container{
        section{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include tablet{
        padding-top: 40px;
        padding-bottom: 40px;
        }
        @include desktop{
            align-self: flex-end;
            padding-right: 100px;
         }
    };
    //ROUTES
    &__enter{
    @include start-page-default-link;
    };
    &__join{
    @include start-page-default-link;
    }
}
