@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.signup-page{
  //PAGE WRAPPER
  &__main {
    height: 100vh;
    @include auth-page-layout-default;
    @include page-padding-default;
    color: $SECONDARY_TEXT_COLOUR;
    @include tablet{
      height: 100vh;
    }
  }

  //FORM CONTAINER
  &__container {
    @include auth-page-layout-default;
    @include tablet {
      padding-bottom: 2.5rem;
    }
    @include desktop {
      align-self: flex-end;

    }

  }

  //INPUT 
  &__input {
  @include input-default;
  @include input-colour-set-primary;
  }
}