@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//PRIMARY BUTTON STYLE
.btn__primary{
justify-content: center;
align-items: center;
background-color: $PRIMARY_CTA;
color: $SECONDARY_TEXT_COLOUR;
}