@use "./variables" as *;

//RESPONSIVE DESIGN MIXINS

// Media mixins
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  };
};

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  };
};

//START PAGE MIXINS

//PADDING LAYOUT GENERAL
@mixin page-padding-default {
  padding: 16px;
  @include tablet {
    padding: 32px;
  };
  @include desktop {
    padding: auto;
  };
};

//AUTH PAGE LAYOUT DEFAULT

@mixin auth-page-layout-default {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//INPUT LAYOUT-STYLE DEFAULT

@mixin input-default{
  outline: none;
  width: 90vw;
  @include tablet {
    width: 40vw;
  }
  @include desktop {
    width: 30vw;
  }
  height: 3.125rem;
  padding: 1.25rem;
  margin-bottom: 1rem;
  &::placeholder {
    text-align: center;
  }
  &--error-state {
    border: solid 0.0625rem $ERROR-STATE;
  }
};

@mixin input-colour-set-primary{
  background-color: $BACKGROUND_DARK;
  border: solid 0.125rem $PRIMARY_CTA;
  color: $SECONDARY_TEXT_COLOUR;
  &:focus {
    border: solid 0.125rem $SECONDARY_TEXT_COLOUR;
  }
  &::placeholder {
    color: $SECONDARY_TEXT_COLOUR;
  }
}

@mixin input-colour-set-profile{
  background-color: $BACKGROUND_LIGHT;
  border: solid 0.125rem $PRIMARY_CTA;
  color: $SECONDARY_CTA;
  &:focus {
    border: solid 0.125rem $SECONDARY_CTA;
  }
  &::placeholder {
    color: $SECONDARY_CTA;
  }
};