@use './variables';

//RESPONSIVE DESIGN MIXINS

// Media mixins

@mixin tablet {
    @media (min-width: variables.$tablet) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: variables.$desktop) {
      @content;
    }
  }


//START PAGE MIXINS

//LINKS - TEXT DECORATION AND COLOUR

@mixin start-page-default-link{
    text-decoration: none;
    color: variables.$SECONDARY_TEXT_COLOUR;
}

//PADDING LAYOUT GENERAL

@mixin page-padding-default {
  padding: 16px;
  @include tablet{
      padding: 32px;
  }
  @include desktop{
      padding: auto;
  }
}
