//PRIMARY COLOUR
$PRIMARY_CTA: #063F20;
$BACKGROUND_LIGHT: #F5DECD;
$BACKGROUND_DARK:#4E6F54; 

//SECONDARY COLOUR
$SECONDARY_TEXT_COLOUR: #F5DECD;
$SECONDARY_CTA: #FD7988;

//SCREEN WITH CHECKPOINTS
$tablet: 768px;
$desktop: 1280px;
