@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

//AUTH HEADER

.auth-header{
    &__container{
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    };
    &__nav-link{
        @include start-page-default-link;
        font-weight:600;

    };
    &__title{
        color: $SECONDARY_TEXT_COLOUR;
        font-family: 'Roboto', sans-serif;
    }
}