@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//MESSAGE PAGE

.messages-page{
    &__container{
        // height: 100vh;
        @include page-padding-default;
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }
}