@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//HEADER
.header {
  //HEADER WRAPPER
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $SECONDARY_CTA;
    // NOT FOUND PAGE STATE
    &--not-found {
      color: $BACKGROUND_LIGHT;
    }
    @include page-padding-default;
    @include tablet {
      flex-direction: row;
      padding: 1rem;
      align-items: baseline;
      justify-content: space-around;
      width: 100%;
    }
    @include desktop {
      justify-content: space-between;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  // ICON NAVIGATION WRAPPER INCLUDES ICON
  &__icon-nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
      flex-direction: row;
      align-items: baseline;
    }
  }
  //NAVIGATION LINKS
  &__logo {
    padding-top: 0.9375rem;
    width: 11.25rem;
    @include tablet {
      padding-right: 0.625rem;
    }
  }
  &__nav-link {
    text-decoration: none;
    list-style: none;
    color: $SECONDARY_CTA;
    font-weight: 600;
    padding: 0.625rem;
    &:hover {
      background-color: $SECONDARY_CTA;
      color: $SECONDARY_TEXT_COLOUR;
    }
    &:active {
      background-color: $SECONDARY_TEXT_COLOUR;
      color: $SECONDARY_CTA;
    }
    //NOT FOUND PAGE HEADER
    &--not-found {
      color: $BACKGROUND_LIGHT;
      &:hover {
        background-color: $SECONDARY_TEXT_COLOUR;
        color: $SECONDARY_CTA;
      }
      &:active {
        background-color: $SECONDARY_CTA;
        color: $SECONDARY_TEXT_COLOUR;
      }
    }
  }
  //NAVIGATION WRAPPER DOES NOT INCLUDE ICON
  &__nav {
    display: flex;
    gap: 3.125rem;
    padding: 0;
    justify-content: center;
    @include tablet {
      gap: 0.625rem;
    }
  }
  //SEARCH AND SIGN OFF WRAPPER
  &__search-sign-off-wrapper {
    list-style: none;
    display: flex;
    font-weight: 600;
    flex-direction: column;
    padding: 0;
    margin-top: 0;
    align-items: center;
    @include tablet {
      flex-direction: row;
    }
  }
  //SIGN OFF
  &__sign-off {
    font-size: 0.75rem;
    &:hover {
      color: $PRIMARY_CTA;
    }
  }
  //SEARCH
  &__search-container {
    @include tablet {
      padding-left: 0.625rem;
    }
  }
  &__search {
    border: none;
    background-color: $BACKGROUND_LIGHT;
    outline: none;
    color: $SECONDARY_CTA;
    padding-bottom: 0.625rem;
    align-self: center;
    &::placeholder {
      color: $SECONDARY_TEXT_COLOUR;
    }
    //NOT FOUND PAGE STATE
    &--not-found {
      background-color: $SECONDARY_CTA;
      color: $SECONDARY_TEXT_COLOUR;
      @include tablet {
        &::placeholder {
          color: $SECONDARY_TEXT_COLOUR;
        }
      }
    }
    @include tablet {
      width: 80px;
      &::placeholder {
        color: $SECONDARY_CTA;
        font-weight: 600;
      }
    }
    @include desktop {
      width: 100px;
    }
  }
}
