@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//LOADING PAGE
.loading-page {
  @include page-padding-default;
  display: flex;
  height: 100vh;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  color: $SECONDARY_CTA;
}
