@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//COLLECTION PAGE

.collection-page{
    //PAGE WRAPPER
    &__container{
        @include page-padding-default;
        width: 100%;
        background-color: $BACKGROUND_DARK;
        text-transform: uppercase; 
        display: flex;  
        justify-content: center;
        color: $SECONDARY_TEXT_COLOUR;
        //FORWARD AND BACKWARD ICONS
        svg{
            color: $SECONDARY_CTA;
            // align-self: center;
        }
    }

    &__image{
        padding: 0;
        height: 80vw;
        width: 100%;
        border: solid 8px $BACKGROUND_LIGHT; 
        align-self: center;
        @include tablet{
            height: 100%;
            width: 27vw;
        }
    }
    &__item-container{
        @include page-padding-default;
        display: flex;
    }
    &__list-item{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablet{
        margin: 8px;
        }
   
    }

    //ADD MORE BUTTON
    &__btn{
        text-decoration: none;
        @include tablet{
            display: flex;
            justify-content: flex-end;     
            padding-right: 30px;
        }

    }
    //DELETE BUTTON
    &__btn-delete{
    background-color: $BACKGROUND_DARK;
    border: none;
    color: $SECONDARY_CTA;
    }
    // TRADE BUTTON
    &__trade-btn{
        text-decoration: none;
        font-weight: 700;
        color: $SECONDARY_TEXT_COLOUR;
        background-color: $SECONDARY_CTA;
        display: flex;
        justify-content: center;
        align-self: center;
        padding: 6px;        
    }
}