@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//COLLECTION PAGE

//IMAGE KEYFRAME
@keyframes imageEffect {
  0% {
    translate: 100%;
  }
  100% {
    translate: 0%;
  }
}

// PAGE STYLE

.collection-page {
  //PAGE WRAPPER
  &__main {
    @include page-padding-default;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: $SECONDARY_TEXT_COLOUR;
    //FORWARD AND BACKWARD ICONS
    svg {
      color: $SECONDARY_CTA;
    }
  }
  //CONTAINER ITEMS
  &__container {
    background-color: $BACKGROUND_DARK;
    width: 100%;
    @include tablet {
      width: auto;
    }
    @include desktop {
      width: 80vw;
    }
  }
  //USER COLLECTION TITLE
  &__title {
    padding: 1rem;
  }
  //ITEM PHOTO
  &__image {
    padding: 0;
    height: 80vw;
    width: 100%;
    border: solid 8px $BACKGROUND_LIGHT;
    align-self: center;
    animation: imageEffect 0.3s ease-in-out;
    @include tablet {
      height: 12.5rem;
      width: 12.5rem;
    }
    @include desktop {
      height: 18.75rem;
      width: 18.75rem;
    }
  }

  //CONTAINER THAT WRAPS THE ITEM INDIVIDUALLY
  &__item-container {
    @include page-padding-default;
    justify-content: center;
    display: flex;
    @include tablet {
      justify-content: center;
    }
  }
  //LIST ITEM
  &__list-item {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      margin: 0.5rem;
      width: 100%;
    }
    //PARAGRAPH  DESCRIPTION
    p {
      @include tablet {
        width: 70%;
        text-align: center;
      }
      @include desktop {
        width: 70%;
        text-align: center;
      }
    }
  }
  //ADD MORE BUTTON
  &__btn {
    text-decoration: none;
    width: 90%;
    margin-left: 1.5rem;
    @include tablet {
      width: 200px;
      display: flex;
      justify-content: space-around;
    }
  }
  //DELETE BUTTON
  &__btn-delete {
    background-color: $BACKGROUND_DARK;
    border: none;
    color: $SECONDARY_CTA;
    &:hover {
      transform: scale(1.5);
    }
  }
  // TRADE BUTTON
  &__trade-btn {
    text-decoration: none;
    font-weight: 700;
    color: $SECONDARY_TEXT_COLOUR;
    background-color: $SECONDARY_CTA;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.375rem;
    &:hover {
      color: $SECONDARY_CTA;
      background-color: $BACKGROUND_LIGHT;
    }
    &:active {
      color: $PRIMARY_CTA;
    }
  }
  //NO ITEMS CONDITIONAL STYLE
  &__no-items-wrapper {
    height: 100vh;
  }
  &__no-items {
    color: $PRIMARY_CTA;
  }
}
