@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

//AVATAR

.avatar{
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 100%;
    border: 5px solid $SECONDARY_CTA;
    margin-bottom: 10px;
}