@use "./styles/partials/variables";
@use "./styles/partials/mixins";
@use "./styles/partials/typography";

//GENERAL CONFIGURATION
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: white;
}