@use "./styles/partials/variables";
@use "./styles/partials/mixins";
@use "./styles/partials/typography";

//GENERAL CONFIGURATION
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

